:root {
  --ctrl-button-default-background-rest: var(--semantic-button-background-rest);
  --ctrl-button-default-background-hover: var(--semantic-button-background-hover);
  --ctrl-button-default-background-pressed: var(--semantic-button-background-pressed);
  --ctrl-button-default-background-disabled: #00000005;
  --ctrl-button-default-background-selectedRest: var(--semantic-button-background-selectedRest);
  --ctrl-button-default-background-selectedHover: var(--semantic-button-background-selectedHover);
  --ctrl-button-default-background-selectedPressed: var(--semantic-button-background-selectedPressed);
  --ctrl-button-default-background-selectedDisabled: #00000026;
  --ctrl-button-default-stroke-color-rest: var(--semantic-button-stroke-color-rest);
  --ctrl-button-default-stroke-color-hover: var(--semantic-button-stroke-color-hover);
  --ctrl-button-default-stroke-color-pressed: var(--semantic-button-stroke-color-pressed);
  --ctrl-button-default-stroke-color-disabled: #00000000;
  --ctrl-button-default-stroke-color-selectedRest: var(--semantic-button-stroke-color-selectedRest);
  --ctrl-button-default-stroke-color-selectedHover: var(--semantic-button-stroke-color-selectedHover);
  --ctrl-button-default-stroke-color-selectedPressed: var(--semantic-button-stroke-color-selectedPressed);
  --ctrl-button-default-stroke-color-selectedDisabled: var(--semantic-disabled-selectedBrand-stroke-disabled);
  --ctrl-button-default-stroke-bottom-color-rest: var(--semantic-button-stroke-color-rest);
  --ctrl-button-default-stroke-bottom-color-hover: var(--semantic-button-stroke-color-hover);
  --ctrl-button-default-stroke-bottom-color-pressed: var(--semantic-button-stroke-color-pressed);
  --ctrl-button-default-stroke-bottom-color-disabled: #00000000;
  --ctrl-button-default-stroke-bottom-color-selectedRest: var(--semantic-button-stroke-color-selectedRest);
  --ctrl-button-default-stroke-bottom-color-selectedHover: var(--semantic-button-stroke-color-selectedHover);
  --ctrl-button-default-stroke-bottom-color-selectedPressed: var(--semantic-button-stroke-color-selectedPressed);
  --ctrl-button-default-stroke-bottom-color-selectedDisabled: var(--semantic-disabled-selectedBrand-stroke-disabled);
  --ctrl-button-default-foreground-color-rest: var(--semantic-button-foreground-rest);
  --ctrl-button-default-foreground-color-hover: var(--semantic-button-foreground-hover);
  --ctrl-button-default-foreground-color-pressed: var(--semantic-button-foreground-pressed);
  --ctrl-button-default-foreground-color-disabled: #0000004d;
  --ctrl-button-default-foreground-color-selectedRest: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-default-foreground-color-selectedHover: var(--semantic-button-foreground-selectedHover);
  --ctrl-button-default-foreground-color-selectedPressed: var(--semantic-button-foreground-selectedPressed);
  --ctrl-button-default-foreground-color-selectedDisabled: #ffffff99;
  --ctrl-button-default-foreground-icon-color-rest: var(--semantic-button-subtle-foreground-icon-rest);
  --ctrl-button-default-foreground-icon-color-hover: var(--semantic-button-subtle-foreground-icon-hover);
  --ctrl-button-default-foreground-icon-color-pressed: var(--semantic-button-subtle-foreground-icon-pressed);
  --ctrl-button-default-foreground-icon-color-disabled: #0000004d;
  --ctrl-button-default-foreground-icon-color-selectedRest: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-default-foreground-icon-color-selectedHover: var(--semantic-button-foreground-selectedHover);
  --ctrl-button-default-foreground-icon-color-selectedPressed: var(--semantic-button-foreground-selectedPressed);
  --ctrl-button-default-foreground-icon-color-selectedDisabled: #ffffff99;
  --ctrl-button-default-foreground-text-weight: 450px;
  --ctrl-button-default-foreground-text-weightSelected: 650px;
  --ctrl-button-default-split-padding: 10px;
  --ctrl-button-brand-background-rest: var(--semantic-button-brand-background-rest);
  --ctrl-button-brand-background-hover: var(--semantic-button-brand-background-hover);
  --ctrl-button-brand-background-pressed: var(--semantic-button-brand-background-pressed);
  --ctrl-button-brand-background-disabled: #00000026;
  --ctrl-button-brand-background-selectedRest: var(--semantic-button-background-selectedRest);
  --ctrl-button-brand-background-selectedHover: var(--semantic-button-background-selectedHover);
  --ctrl-button-brand-background-selectedPressed: var(--semantic-button-background-selectedPressed);
  --ctrl-button-brand-background-selectedDisabled: #00000026;
  --ctrl-button-brand-stroke-color-rest: var(--semantic-button-brand-stroke-rest);
  --ctrl-button-brand-stroke-color-hover: var(--semantic-button-brand-stroke-hover);
  --ctrl-button-brand-stroke-color-pressed: var(--semantic-button-brand-stroke-pressed);
  --ctrl-button-brand-stroke-color-disabled: #00000000;
  --ctrl-button-brand-stroke-color-selectedRest: var(--semantic-button-stroke-color-selectedRest);
  --ctrl-button-brand-stroke-color-selectedHover: var(--semantic-button-stroke-color-selectedHover);
  --ctrl-button-brand-stroke-color-selectedPressed: var(--semantic-button-stroke-color-selectedPressed);
  --ctrl-button-brand-stroke-color-selectedDisabled: var(--semantic-disabled-selectedBrand-stroke-disabled);
  --ctrl-button-brand-stroke-bottom-rest: var(--semantic-controlDefault-hide-transparent);
  --ctrl-button-brand-stroke-bottom-hover: var(--semantic-controlDefault-hide-transparent);
  --ctrl-button-brand-stroke-bottom-pressed: var(--semantic-controlDefault-hide-transparent);
  --ctrl-button-brand-stroke-bottom-disabled: var(--semantic-controlDefault-hide-transparent);
  --ctrl-button-brand-foreground-color-rest: var(--semantic-button-brand-foreground-rest);
  --ctrl-button-brand-split-divider-color: #0000001f;
  --ctrl-button-brand-foreground-color-hover: var(--semantic-button-brand-foreground-hover);
  --ctrl-button-brand-foreground-color-pressed: var(--semantic-button-brand-foreground-pressed);
  --ctrl-button-brand-foreground-color-disabled: #ffffff99;
  --ctrl-button-brand-foreground-color-selectedRest: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-brand-foreground-color-selectedHover: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-brand-foreground-color-selectedPressed: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-brand-foreground-color-selectedDisabled: #ffffff99;
  --ctrl-button-brand-foreground-icon-color-rest: var(--semantic-button-brand-foreground-rest);
  --ctrl-button-brand-foreground-icon-color-hover: var(--semantic-button-brand-foreground-hover);
  --ctrl-button-brand-foreground-icon-color-pressed: var(--semantic-button-brand-foreground-pressed);
  --ctrl-button-brand-foreground-icon-color-disabled: #ffffff99;
  --ctrl-button-brand-foreground-icon-color-selectedRest: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-brand-foreground-icon-color-selectedHover: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-brand-foreground-icon-color-selectedPressed: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-brand-foreground-icon-color-selectedDisabled: #ffffff99;
  --ctrl-button-outline-background-rest: var(--semantic-button-outline-background-rest);
  --ctrl-button-outline-background-hover: var(--semantic-button-outline-stroke-hover);
  --ctrl-button-outline-background-pressed: var(--semantic-button-outline-background-pressed);
  --ctrl-button-outline-background-disabled: var(--semantic-disabled-outline-background-disabled);
  --ctrl-button-outline-background-selectedRest: var(--semantic-button-background-selectedRest);
  --ctrl-button-outline-background-selectedHover: var(--semantic-button-background-selectedHover);
  --ctrl-button-outline-background-selectedPressed: var(--semantic-button-background-selectedPressed);
  --ctrl-button-outline-background-selectedDisabled: #00000026;
  --ctrl-button-outline-stroke-width-rest: var(--layout1-control-stroke-outline-stroke-width-rest);
  --ctrl-button-outline-stroke-width-hover: var(--layout1-control-stroke-outline-stroke-width-hover);
  --ctrl-button-outline-stroke-width-pressed: var(--layout1-control-stroke-outline-stroke-width-pressed);
  --ctrl-button-outline-stroke-width-disabled: var(--layout1-control-stroke-outline-stroke-width-disabled);
  --ctrl-button-outline-stroke-color-rest: var(--semantic-button-outline-stroke-rest);
  --ctrl-button-outline-stroke-color-hover: var(--semantic-button-outline-stroke-hover);
  --ctrl-button-outline-stroke-color-pressed: var(--semantic-button-outline-stroke-pressed);
  --ctrl-button-outline-stroke-color-disabled: var(--semantic-disabled-outline-stroke-disabled);
  --ctrl-button-outline-stroke-color-selectedRest: var(--semantic-button-stroke-color-selectedRest);
  --ctrl-button-outline-stroke-color-selectedHover: var(--semantic-button-stroke-color-selectedHover);
  --ctrl-button-outline-stroke-color-selectedPressed: var(--semantic-button-stroke-color-selectedPressed);
  --ctrl-button-outline-stroke-color-selectedDisabled: var(--semantic-disabled-selectedBrand-stroke-disabled);
  --ctrl-button-outline-stroke-bottom-color: var(--semantic-controlDefault-hide-transparent);
  --ctrl-button-outline-foreground-color-rest: var(--semantic-button-foreground-rest);
  --ctrl-button-outline-foreground-color-hover: var(--semantic-button-foreground-hover);
  --ctrl-button-outline-foreground-color-pressed: var(--semantic-button-foreground-pressed);
  --ctrl-button-outline-foreground-color-disabled: #0000004d;
  --ctrl-button-outline-foreground-color-selectedRest: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-outline-foreground-color-selectedHover: var(--semantic-button-foreground-selectedHover);
  --ctrl-button-outline-foreground-color-selectedPressed: var(--semantic-button-foreground-selectedPressed);
  --ctrl-button-outline-foreground-color-selectedDisabled: #ffffff99;
  --ctrl-button-outline-foreground-icon-color-rest: var(--semantic-button-foreground-rest);
  --ctrl-button-outline-foreground-icon-color-hover: var(--semantic-button-foreground-hover);
  --ctrl-button-outline-foreground-icon-color-pressed: var(--semantic-button-foreground-pressed);
  --ctrl-button-outline-foreground-icon-color-disabled: #0000004d;
  --ctrl-button-outline-foreground-icon-color-selectedRest: var(--semantic-button-foreground-selectedRest);
  --ctrl-button-outline-foreground-icon-color-selectedHover: var(--semantic-button-foreground-selectedHover);
  --ctrl-button-outline-foreground-icon-color-selectedPressed: var(--semantic-button-foreground-selectedPressed);
  --ctrl-button-outline-foreground-icon-color-selectedDisabled: #ffffff99;
  --ctrl-button-transparent-background: var(--semantic-button-transparent-background-rest);
  --ctrl-button-transparent-stroke-color: var(--semantic-button-transparent-stroke-rest);
  --ctrl-button-transparent-stroke-bottom-color: var(--semantic-controlDefault-hide-transparent);
  --ctrl-button-transparent-foreground-color-rest: var(--semantic-button-transparent-foreground-rest);
  --ctrl-button-transparent-foreground-color-hover: var(--semantic-button-transparent-foreground-hover);
  --ctrl-button-transparent-foreground-color-pressed: var(--semantic-button-transparent-foreground-pressed);
  --ctrl-button-transparent-foreground-color-disabled: #0000004d;
  --ctrl-button-transparent-foreground-color-selectedRest: var(--semantic-button-subtle-foreground-selectedRest);
  --ctrl-button-transparent-foreground-color-selectedHover: var(--semantic-button-subtle-foreground-selectedHover);
  --ctrl-button-transparent-foreground-color-selectedPressed: var(--semantic-button-subtle-foreground-selectedPressed);
  --ctrl-button-transparent-foreground-color-selectedDisabled: #7275c059;
  --ctrl-button-transparent-foreground-icon-theme-rest: Regular;
  --ctrl-button-transparent-foreground-icon-theme-hover: Filled;
  --ctrl-button-transparent-foreground-icon-theme-pressed: Filled;
  --ctrl-button-transparent-foreground-icon-theme-disabled: Regular;
  --ctrl-button-transparent-foreground-icon-theme-selected: Filled;
  --ctrl-button-transparent-foreground-icon-color-rest: var(--semantic-button-transparent-foreground-rest);
  --ctrl-button-transparent-foreground-icon-color-hover: var(--semantic-button-transparent-foreground-hover);
  --ctrl-button-transparent-foreground-icon-color-pressed: var(--semantic-button-transparent-foreground-pressed);
  --ctrl-button-transparent-foreground-icon-color-disabled: #0000004d;
  --ctrl-button-transparent-foreground-icon-color-selectedRest: var(--semantic-button-subtle-foreground-selectedRest);
  --ctrl-button-transparent-foreground-icon-color-selectedHover: var(--semantic-button-subtle-foreground-selectedHover);
  --ctrl-button-transparent-foreground-icon-color-selectedPressed: var(
    --semantic-button-subtle-foreground-selectedPressed
  );
  --ctrl-button-default-split-divider-width: 1px;
  --ctrl-button-default-split-divider-color: #0000001f;
  --ctrl-button-default-split-divider-colorDisabled: #0000001f;
  --ctrl-button-transparent-foreground-icon-color-selectedDisabled: #7275c059;
  --ctrl-button-default-split-stroke-left-width: 0;
  --ctrl-button-fab-corner-rest: var(--layout1-control-corner-circular-corner-rest);
  --ctrl-button-circular-corner: var(--layout1-control-corner-circular-corner-rest);
  --ctrl-button-fab-corner-hover: var(--layout1-control-corner-circular-corner-hover);
  --ctrl-button-fab-corner-pressed: var(--layout1-control-corner-circular-corner-pressed);
  --ctrl-button-fab-corner-disabled: var(--layout1-control-corner-circular-corner-disabled);
  --ctrl-button-fab-keyShadow-blur: var(--layout1-button-fab-keyShadow-blur);
  --ctrl-button-fab-keyShadow-yOffset: var(--layout1-button-fab-keyShadow-yOffset);
  --ctrl-button-zero-corner: var(--layout1-control-corner-squared-corner-rest);
}
