:root {
  --ctrl-button-default-background-rest: 'var(--neutral-background-1-rest)';
  --ctrl-button-default-background-hover: 'var(--neutral-background-1-hover)';
  --ctrl-button-default-background-pressed: 'var(--neutral-background-1-pressed)';
  --ctrl-button-default-background-disabled: 'var(--neutral-background-disabled-rest)';
  --ctrl-button-default-background-selectedRest: 'var(--brand-background-1-rest)';
  --ctrl-button-default-background-selectedHover: 'var(--brand-background-1-hover)';
  --ctrl-button-default-background-selectedPressed: 'var(--brand-background-1-selected)';
  --ctrl-button-default-background-selectedDisabled: 'var(--neutral-background-disabled-rest)';
  --ctrl-button-default-stroke-color-rest: 'var(--neutral-stroke-1-rest)';
  --ctrl-button-default-stroke-color-hover: 'var(--neutral-stroke-1-hover)';
  --ctrl-button-default-stroke-color-pressed: 'var(--neutral-stroke-1-pressed)';
  --ctrl-button-default-stroke-color-disabled: 'var(--neutral-stroke-disabled-rest)';
  --ctrl-button-default-stroke-color-selectedRest: 'var(--brand-background-1-rest)';
  --ctrl-button-default-stroke-color-selectedHover: 'var(--brand-background-1-hover)';
  --ctrl-button-default-stroke-color-selectedPressed: 'var(--brand-background-1-selected)';
  --ctrl-button-default-stroke-color-selectedDisabled: 'var(--neutral-stroke-transparent-disabled-rest)';
  --ctrl-button-default-stroke-bottom-color-rest: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-stroke-bottom-color-hover: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-stroke-bottom-color-pressed: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-stroke-bottom-color-disabled: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-stroke-bottom-color-selectedRest: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-stroke-bottom-color-selectedHover: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-stroke-bottom-color-selectedPressed: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-stroke-bottom-color-selectedDisabled: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-foreground-color-rest: 'var(--neutral-foreground-1-rest)';
  --ctrl-button-default-foreground-color-hover: 'var(--neutral-foreground-1-hover)';
  --ctrl-button-default-foreground-color-pressed: 'var(--neutral-foreground-1-pressed)';
  --ctrl-button-default-foreground-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-default-foreground-color-selectedRest: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-default-foreground-color-selectedHover: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-default-foreground-color-selectedPressed: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-default-foreground-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-default-foreground-icon-color-rest: 'var(--neutral-foreground-1-rest)';
  --ctrl-button-default-foreground-icon-color-hover: 'var(--neutral-foreground-1-hover)';
  --ctrl-button-default-foreground-icon-color-pressed: 'var(--neutral-foreground-1-pressed)';
  --ctrl-button-default-foreground-icon-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-default-foreground-icon-color-selectedRest: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-default-foreground-icon-color-selectedHover: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-default-foreground-icon-color-selectedPressed: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-default-foreground-icon-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-default-foreground-text-weight: '600px';
  --ctrl-button-default-split-padding: '6px';
  --ctrl-button-default-foreground-text-weightSelected: '400px';
  --ctrl-button-brand-background-rest: 'var(--brand-background-1-rest)';
  --ctrl-button-brand-background-hover: 'var(--brand-background-1-hover)';
  --ctrl-button-brand-background-pressed: 'var(--brand-background-1-selected)';
  --ctrl-button-brand-background-disabled: 'var(--neutral-background-disabled-rest)';
  --ctrl-button-brand-background-selectedRest: 'var(--brand-background-1-rest)';
  --ctrl-button-brand-background-selectedHover: 'var(--brand-background-1-hover)';
  --ctrl-button-brand-background-selectedPressed: 'var(--brand-background-1-selected)';
  --ctrl-button-brand-background-selectedDisabled: 'var(--neutral-background-disabled-rest)';
  --ctrl-button-brand-stroke-color-rest: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-brand-stroke-color-hover: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-brand-stroke-color-pressed: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-brand-stroke-color-disabled: 'var(--neutral-stroke-transparent-disabled-rest)';
  --ctrl-button-brand-stroke-color-selectedRest: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-brand-stroke-color-selectedHover: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-brand-stroke-color-selectedPressed: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-brand-stroke-color-selectedDisabled: 'var(--neutral-stroke-transparent-disabled-rest)';
  --ctrl-button-brand-stroke-bottom-rest: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-brand-stroke-bottom-hover: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-brand-stroke-bottom-pressed: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-brand-stroke-bottom-disabled: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-brand-foreground-color-rest: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-split-divider-color: 'var(--neutral-stroke-onBrand-2-rest)';
  --ctrl-button-brand-foreground-color-hover: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-color-pressed: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-brand-foreground-color-selectedRest: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-color-selectedHover: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-color-selectedPressed: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-brand-foreground-icon-color-rest: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-icon-color-hover: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-icon-color-pressed: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-icon-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-brand-foreground-icon-color-selectedRest: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-icon-color-selectedHover: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-icon-color-selectedPressed: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-brand-foreground-icon-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-outline-background-rest: 'var(--neutral-background-transparent-rest)';
  --ctrl-button-outline-background-hover: 'var(--neutral-background-transparent-hover)';
  --ctrl-button-outline-background-pressed: 'var(--neutral-background-transparent-pressed)';
  --ctrl-button-outline-background-disabled: 'var(--neutral-stroke-transparent-disabled-rest)';
  --ctrl-button-outline-background-selectedRest: 'var(--brand-background-1-rest)';
  --ctrl-button-outline-background-selectedHover: 'var(--brand-background-1-hover)';
  --ctrl-button-outline-background-selectedPressed: 'var(--brand-background-1-selected)';
  --ctrl-button-outline-background-selectedDisabled: 'var(--neutral-background-disabled-rest)';
  --ctrl-button-outline-stroke-width-rest: 'Thin';
  --ctrl-button-outline-stroke-width-hover: 'Thin';
  --ctrl-button-outline-stroke-width-pressed: 'Thin';
  --ctrl-button-outline-stroke-width-disabled: 'Thin';
  --ctrl-button-outline-stroke-color-rest: 'var(--neutral-stroke-1-rest)';
  --ctrl-button-outline-stroke-color-hover: 'var(--neutral-stroke-1-hover)';
  --ctrl-button-outline-stroke-color-pressed: 'var(--neutral-stroke-1-pressed)';
  --ctrl-button-outline-stroke-color-disabled: 'var(--neutral-stroke-disabled-rest)';
  --ctrl-button-outline-stroke-color-selectedRest: 'var(--brand-stroke-1-rest)';
  --ctrl-button-outline-stroke-color-selectedHover: 'var(--brand-background-1-hover)';
  --ctrl-button-outline-stroke-color-selectedPressed: 'var(--brand-background-1-selected)';
  --ctrl-button-outline-stroke-color-selectedDisabled: 'var(--neutral-stroke-transparent-disabled-rest)';
  --ctrl-button-outline-foreground-color-rest: 'var(--neutral-foreground-1-rest)';
  --ctrl-button-outline-foreground-color-hover: 'var(--neutral-foreground-1-hover)';
  --ctrl-button-outline-foreground-color-pressed: 'var(--neutral-foreground-1-pressed)';
  --ctrl-button-outline-foreground-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-outline-foreground-color-selectedRest: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-outline-foreground-color-selectedHover: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-outline-foreground-color-selectedPressed: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-outline-foreground-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-outline-foreground-icon-color-rest: 'var(--neutral-foreground-1-rest)';
  --ctrl-button-outline-foreground-icon-color-hover: 'var(--neutral-foreground-1-hover)';
  --ctrl-button-outline-foreground-icon-color-pressed: 'var(--neutral-foreground-1-pressed)';
  --ctrl-button-outline-foreground-icon-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-outline-foreground-icon-color-selectedRest: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-outline-foreground-icon-color-selectedHover: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-outline-foreground-icon-color-selectedPressed: 'var(--neutral-foreground-onBrand-rest)';
  --ctrl-button-outline-foreground-icon-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-subtle-background-rest: 'var(--neutral-background-subtle-rest)';
  --ctrl-button-subtle-background-hover: 'var(--neutral-background-subtle-hover)';
  --ctrl-button-subtle-background-pressed: 'var(--neutral-background-subtle-pressed)';
  --ctrl-button-subtle-background-disabled: 'var(--neutral-background-transparent-rest)';
  --ctrl-button-subtle-background-selectedRest: 'var(--neutral-background-transparent-rest)';
  --ctrl-button-subtle-background-selectedHover: 'var(--neutral-background-transparent-rest)';
  --ctrl-button-subtle-background-selectedPressed: 'var(--neutral-background-transparent-rest)';
  --ctrl-button-subtle-background-selectedDisabled: 'var(--neutral-background-transparent-rest)';
  --ctrl-button-subtle-stroke-color-rest: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-subtle-stroke-color-hover: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-subtle-stroke-color-pressed: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-subtle-stroke-color-disabled: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-subtle-stroke-color-selectedRest: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-subtle-stroke-color-selectedHover: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-subtle-stroke-color-selectedPressed: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-subtle-stroke-color-selectedDisabled: 'var(--neutral-stroke-transparent-interactive-rest)';
  --ctrl-button-subtle-stroke-bottom-color: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-subtle-foreground-color-rest: 'var(--neutral-foreground-2-rest)';
  --ctrl-button-subtle-foreground-color-hover: 'var(--neutral-foreground-1-hover)';
  --ctrl-button-subtle-foreground-color-pressed: 'var(--neutral-foreground-1-pressed)';
  --ctrl-button-subtle-foreground-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-subtle-foreground-color-selectedRest: 'var(--brand-foreground-onLight-rest)';
  --ctrl-button-subtle-foreground-color-selectedHover: 'var(--brand-foreground-onLight-hover)';
  --ctrl-button-subtle-foreground-color-selectedPressed: 'var(--brand-foreground-onLight-selected)';
  --ctrl-button-subtle-foreground-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-subtle-foreground-icon-color-rest: 'var(--neutral-foreground-2-rest)';
  --ctrl-button-subtle-foreground-icon-color-hover: 'var(--neutral-foreground-2-brand-hover)';
  --ctrl-button-subtle-foreground-icon-color-pressed: 'var(--neutral-foreground-2-brand-pressed)';
  --ctrl-button-subtle-foreground-icon-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-subtle-foreground-icon-color-selectedRest: 'var(--brand-foreground-onLight-rest)';
  --ctrl-button-subtle-foreground-icon-color-selectedHover: 'var(--brand-foreground-onLight-hover)';
  --ctrl-button-subtle-foreground-icon-color-selectedPressed: 'var(--brand-foreground-onLight-selected)';
  --ctrl-button-subtle-foreground-icon-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-subtle-foreground-icon-theme-rest: 'Regular';
  --ctrl-button-subtle-foreground-icon-theme-hover: 'Filled';
  --ctrl-button-subtle-foreground-icon-theme-pressed: 'Filled';
  --ctrl-button-subtle-foreground-icon-theme-disabled: 'Regular';
  --ctrl-button-subtle-foreground-icon-theme-selected: 'Filled';
  --ctrl-button-transparent-background: 'var(--neutral-background-transparent-rest)';
  --ctrl-button-transparent-stroke-color: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-transparent-stroke-bottom-color: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-transparent-foreground-color-rest: 'var(--neutral-foreground-2-rest)';
  --ctrl-button-transparent-foreground-color-hover: 'var(--neutral-foreground-2-brand-hover)';
  --ctrl-button-transparent-foreground-color-pressed: 'var(--neutral-foreground-2-brand-pressed)';
  --ctrl-button-transparent-foreground-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-transparent-foreground-color-selectedRest: 'var(--brand-foreground-onLight-rest)';
  --ctrl-button-transparent-foreground-color-selectedHover: 'var(--brand-foreground-onLight-hover)';
  --ctrl-button-transparent-foreground-color-selectedPressed: 'var(--brand-foreground-onLight-selected)';
  --ctrl-button-transparent-foreground-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-transparent-foreground-icon-theme-rest: 'Regular';
  --ctrl-button-transparent-foreground-icon-theme-hover: 'Filled';
  --ctrl-button-transparent-foreground-icon-theme-pressed: 'Filled';
  --ctrl-button-transparent-foreground-icon-theme-disabled: 'Regular';
  --ctrl-button-transparent-foreground-icon-theme-selected: 'Filled';
  --ctrl-button-transparent-foreground-icon-color-rest: 'var(--neutral-foreground-2-rest)';
  --ctrl-button-transparent-foreground-icon-color-hover: 'var(--neutral-foreground-2-brand-hover)';
  --ctrl-button-transparent-foreground-icon-color-pressed: 'var(--neutral-foreground-2-brand-pressed)';
  --ctrl-button-transparent-foreground-icon-color-disabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-transparent-foreground-icon-color-selectedRest: 'var(--brand-foreground-onLight-rest)';
  --ctrl-button-transparent-foreground-icon-color-selectedHover: 'var(--brand-foreground-onLight-hover)';
  --ctrl-button-transparent-foreground-icon-color-selectedPressed: 'var(--brand-foreground-onLight-selected)';
  --ctrl-button-default-split-divider-width: 'Thin';
  --ctrl-button-default-split-divider-color: 'var(--neutral-stroke-transparent-rest)';
  --ctrl-button-default-split-divider-colorDisabled: 'var(--neutral-stroke-disabled-rest)';
  --ctrl-button-transparent-foreground-icon-color-selectedDisabled: 'var(--neutral-foreground-disabled-rest)';
  --ctrl-button-default-split-stroke-left-width: '0';
  --ctrl-button-fab-corner-rest: '999px';
  --ctrl-button-circular-corner: 'Circular';
  --ctrl-button-fab-corner-hover: '999px';
  --ctrl-button-fab-corner-pressed: '999px';
  --ctrl-button-fab-corner-disabled: '999px';
  --ctrl-button-fab-keyShadow-blur: '2px';
  --ctrl-button-fab-keyShadow-yOffset: '1px';
  --ctrl-button-zero-corner: 'None';
}
