:root {
  --ctrl-button-default-background-rest: #ffffffff;
  --ctrl-button-default-background-hover: #f5f5f5ff;
  --ctrl-button-default-background-pressed: #e0e0e0ff;
  --ctrl-button-default-background-disabled: #f0f0f0ff;
  --ctrl-button-default-background-selectedRest: #0f6cbdff;
  --ctrl-button-default-background-selectedHover: #115ea3ff;
  --ctrl-button-default-background-selectedPressed: #0f548cff;
  --ctrl-button-default-background-selectedDisabled: #f0f0f0ff;
  --ctrl-button-default-stroke-color-rest: #d1d1d1ff;
  --ctrl-button-default-stroke-color-hover: #c7c7c7ff;
  --ctrl-button-default-stroke-color-pressed: #b3b3b3ff;
  --ctrl-button-default-stroke-color-disabled: #e0e0e0ff;
  --ctrl-button-default-stroke-color-selectedRest: #0f6cbdff;
  --ctrl-button-default-stroke-color-selectedHover: #115ea3ff;
  --ctrl-button-default-stroke-color-selectedPressed: #0f548cff;
  --ctrl-button-default-stroke-color-selectedDisabled: #ffffff00;
  --ctrl-button-default-stroke-bottom-color-rest: #ffffff00;
  --ctrl-button-default-stroke-bottom-color-hover: #ffffff00;
  --ctrl-button-default-stroke-bottom-color-pressed: #ffffff00;
  --ctrl-button-default-stroke-bottom-color-disabled: #ffffff00;
  --ctrl-button-default-stroke-bottom-color-selectedRest: #ffffff00;
  --ctrl-button-default-stroke-bottom-color-selectedHover: #ffffff00;
  --ctrl-button-default-stroke-bottom-color-selectedPressed: #ffffff00;
  --ctrl-button-default-stroke-bottom-color-selectedDisabled: #ffffff00;
  --ctrl-button-default-foreground-color-rest: #242424ff;
  --ctrl-button-default-foreground-color-hover: #242424ff;
  --ctrl-button-default-foreground-color-pressed: #242424ff;
  --ctrl-button-default-foreground-color-disabled: #bdbdbdff;
  --ctrl-button-default-foreground-color-selectedRest: #ffffffff;
  --ctrl-button-default-foreground-color-selectedHover: #ffffffff;
  --ctrl-button-default-foreground-color-selectedPressed: #ffffffff;
  --ctrl-button-default-foreground-color-selectedDisabled: #bdbdbdff;
  --ctrl-button-default-foreground-icon-color-rest: #242424ff;
  --ctrl-button-default-foreground-icon-color-hover: #242424ff;
  --ctrl-button-default-foreground-icon-color-pressed: #242424ff;
  --ctrl-button-default-foreground-icon-color-disabled: #bdbdbdff;
  --ctrl-button-default-foreground-icon-color-selectedRest: #ffffffff;
  --ctrl-button-default-foreground-icon-color-selectedHover: #ffffffff;
  --ctrl-button-default-foreground-icon-color-selectedPressed: #ffffffff;
  --ctrl-button-default-foreground-icon-color-selectedDisabled: #bdbdbdff;
  --ctrl-button-default-foreground-text-weight: 600px;
  --ctrl-button-default-foreground-text-weightSelected: 400px;
  --ctrl-button-default-split-padding: 6px;
  --ctrl-button-brand-background-rest: #0f6cbdff;
  --ctrl-button-brand-background-hover: #115ea3ff;
  --ctrl-button-brand-background-pressed: #0f548cff;
  --ctrl-button-brand-background-disabled: #f0f0f0ff;
  --ctrl-button-brand-background-selectedRest: #0f6cbdff;
  --ctrl-button-brand-background-selectedHover: #115ea3ff;
  --ctrl-button-brand-background-selectedPressed: #0f548cff;
  --ctrl-button-brand-background-selectedDisabled: #f0f0f0ff;
  --ctrl-button-brand-stroke-color-rest: #ffffff00;
  --ctrl-button-brand-stroke-color-hover: #ffffff00;
  --ctrl-button-brand-stroke-color-pressed: #ffffff00;
  --ctrl-button-brand-stroke-color-disabled: #ffffff00;
  --ctrl-button-brand-stroke-color-selectedRest: #ffffff00;
  --ctrl-button-brand-stroke-color-selectedHover: #ffffff00;
  --ctrl-button-brand-stroke-color-selectedPressed: #ffffff00;
  --ctrl-button-brand-stroke-color-selectedDisabled: #ffffff00;
  --ctrl-button-brand-stroke-bottom-rest: #ffffff00;
  --ctrl-button-brand-stroke-bottom-hover: #ffffff00;
  --ctrl-button-brand-stroke-bottom-pressed: #ffffff00;
  --ctrl-button-brand-stroke-bottom-disabled: #ffffff00;
  --ctrl-button-brand-foreground-color-rest: #ffffffff;
  --ctrl-button-brand-split-divider-color: #ffffffff;
  --ctrl-button-brand-foreground-color-hover: #ffffffff;
  --ctrl-button-brand-foreground-color-pressed: #ffffffff;
  --ctrl-button-brand-foreground-color-disabled: #bdbdbdff;
  --ctrl-button-brand-foreground-color-selectedRest: #ffffffff;
  --ctrl-button-brand-foreground-color-selectedHover: #ffffffff;
  --ctrl-button-brand-foreground-color-selectedPressed: #ffffffff;
  --ctrl-button-brand-foreground-color-selectedDisabled: #bdbdbdff;
  --ctrl-button-brand-foreground-icon-color-rest: #ffffffff;
  --ctrl-button-brand-foreground-icon-color-hover: #ffffffff;
  --ctrl-button-brand-foreground-icon-color-pressed: #ffffffff;
  --ctrl-button-brand-foreground-icon-color-disabled: #bdbdbdff;
  --ctrl-button-brand-foreground-icon-color-selectedRest: #ffffffff;
  --ctrl-button-brand-foreground-icon-color-selectedHover: #ffffffff;
  --ctrl-button-brand-foreground-icon-color-selectedPressed: #ffffffff;
  --ctrl-button-brand-foreground-icon-color-selectedDisabled: #bdbdbdff;
  --ctrl-button-outline-background-rest: #ffffff00;
  --ctrl-button-outline-background-hover: #ffffff00;
  --ctrl-button-outline-background-pressed: #ffffff00;
  --ctrl-button-outline-background-disabled: #ffffff00;
  --ctrl-button-outline-background-selectedRest: #0f6cbdff;
  --ctrl-button-outline-background-selectedHover: #115ea3ff;
  --ctrl-button-outline-background-selectedPressed: #0f548cff;
  --ctrl-button-outline-background-selectedDisabled: #f0f0f0ff;
  --ctrl-button-outline-stroke-width-rest: 1px;
  --ctrl-button-outline-stroke-width-hover: 1px;
  --ctrl-button-outline-stroke-width-pressed: 1px;
  --ctrl-button-outline-stroke-width-disabled: 1px;
  --ctrl-button-outline-stroke-color-rest: #d1d1d1ff;
  --ctrl-button-outline-stroke-color-hover: #c7c7c7ff;
  --ctrl-button-outline-stroke-color-pressed: #b3b3b3ff;
  --ctrl-button-outline-stroke-color-disabled: #e0e0e0ff;
  --ctrl-button-outline-stroke-color-selectedRest: #0f6cbdff;
  --ctrl-button-outline-stroke-color-selectedHover: #115ea3ff;
  --ctrl-button-outline-stroke-color-selectedPressed: #0f548cff;
  --ctrl-button-outline-stroke-color-selectedDisabled: #ffffff00;
  --ctrl-button-outline-stroke-bottom-color: #ffffff00;
  --ctrl-button-outline-foreground-color-rest: #242424ff;
  --ctrl-button-outline-foreground-color-hover: #242424ff;
  --ctrl-button-outline-foreground-color-pressed: #242424ff;
  --ctrl-button-outline-foreground-color-disabled: #bdbdbdff;
  --ctrl-button-outline-foreground-color-selectedRest: #ffffffff;
  --ctrl-button-outline-foreground-color-selectedHover: #ffffffff;
  --ctrl-button-outline-foreground-color-selectedPressed: #ffffffff;
  --ctrl-button-outline-foreground-color-selectedDisabled: #bdbdbdff;
  --ctrl-button-outline-foreground-icon-color-rest: #242424ff;
  --ctrl-button-outline-foreground-icon-color-hover: #242424ff;
  --ctrl-button-outline-foreground-icon-color-pressed: #242424ff;
  --ctrl-button-outline-foreground-icon-color-disabled: #bdbdbdff;
  --ctrl-button-outline-foreground-icon-color-selectedRest: #ffffffff;
  --ctrl-button-outline-foreground-icon-color-selectedHover: #ffffffff;
  --ctrl-button-outline-foreground-icon-color-selectedPressed: #ffffffff;
  --ctrl-button-outline-foreground-icon-color-selectedDisabled: #bdbdbdff;
  --ctrl-button-transparent-background: #ffffff00;
  --ctrl-button-transparent-stroke-color: #ffffff00;
  --ctrl-button-transparent-stroke-bottom-color: #ffffff00;
  --ctrl-button-transparent-foreground-color-rest: #424242ff;
  --ctrl-button-transparent-foreground-color-hover: #0f6cbdff;
  --ctrl-button-transparent-foreground-color-pressed: #115ea3ff;
  --ctrl-button-transparent-foreground-color-disabled: #bdbdbdff;
  --ctrl-button-transparent-foreground-color-selectedRest: #0f6cbdff;
  --ctrl-button-transparent-foreground-color-selectedHover: #115ea3ff;
  --ctrl-button-transparent-foreground-color-selectedPressed: #0f548cff;
  --ctrl-button-transparent-foreground-color-selectedDisabled: #bdbdbdff;
  --ctrl-button-transparent-foreground-icon-theme-rest: Regular;
  --ctrl-button-transparent-foreground-icon-theme-hover: Filled;
  --ctrl-button-transparent-foreground-icon-theme-pressed: Filled;
  --ctrl-button-transparent-foreground-icon-theme-disabled: Regular;
  --ctrl-button-transparent-foreground-icon-theme-selected: Filled;
  --ctrl-button-transparent-foreground-icon-color-rest: #424242ff;
  --ctrl-button-transparent-foreground-icon-color-hover: #0f6cbdff;
  --ctrl-button-transparent-foreground-icon-color-pressed: #115ea3ff;
  --ctrl-button-transparent-foreground-icon-color-disabled: #bdbdbdff;
  --ctrl-button-transparent-foreground-icon-color-selectedRest: #0f6cbdff;
  --ctrl-button-transparent-foreground-icon-color-selectedHover: #115ea3ff;
  --ctrl-button-transparent-foreground-icon-color-selectedPressed: #0f548cff;
  --ctrl-button-default-split-divider-width: 1px;
  --ctrl-button-default-split-divider-color: #ffffff00;
  --ctrl-button-default-split-divider-colorDisabled: #e0e0e0ff;
  --ctrl-button-transparent-foreground-icon-color-selectedDisabled: #bdbdbdff;
  --ctrl-button-default-split-stroke-left-width: 0;
  --ctrl-button-fab-corner-rest: 999px;
  --ctrl-button-circular-corner: 9999px;
  --ctrl-button-fab-corner-hover: 999px;
  --ctrl-button-fab-corner-pressed: 999px;
  --ctrl-button-fab-corner-disabled: 999px;
  --ctrl-button-fab-keyShadow-blur: 2px;
  --ctrl-button-fab-keyShadow-yOffset: 1px;
  --ctrl-button-zero-corner: 0;
}
